<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.188250385826-g4rpo160iplqk76sc21obce91j8p7cl9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao528b15e552d70506527d80c578cac660</string>
			</array>
		</dict>
	</array>
    
<!--    <key>LSApplicationQueriesSchemes</key>-->
<!--        <array>-->
<!--            <string>kakaokompassauth</string>-->
<!--            <string>kakaolink</string>-->
<!--            <string>kakaotalk</string>-->
<!--            <string>kakaostory</string>-->
<!--        </array>-->
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
</dict>
</plist>
